:root {
  --lightBG: #fbf7ee;
  --darkBG: #1f2937;
  --Gradient: linear-gradient(246.26deg, #172346 0%, #3d6be6 100%);
  --LightBG: #fff;
  --DarkBG: #000;
  --LightTXT: #000;
  --DarkTXT: #fff;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400, 600, 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-align: center;
  height: calc(100vh - 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}

h1 {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

button {
  position: relative;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  left: 0;
  right: 0;
  top: 50%;
}

button:hover {
  cursor: pointer;
}

.header {
  background: var(--Gradient);
  width: 100%;
  height: 16.25rem;
  border-radius: 0.5rem;
}

.container {
  max-width: 34.375rem;
  max-height: 34.375rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.2),
    2px 4px 4px hsl(220deg 60% 50% / 0.2), 4px 8px 8px hsl(220deg 60% 50% / 0.2),
    8px 16px 16px hsl(220deg 60% 50% / 0.2),
    16px 32px 32px hsl(220deg 60% 50% / 0.2);
}

.container p span {
  vertical-align: middle;
}

.unit-box {
  position: relative;
  top: 35%;
  left: 0;
}

.data {
  margin: 0.8rem 0.8rem;
}

.data h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1.5rem;
}

.input {
  color: var(--DarkTXT);
  position: relative;
  top: 35%;
  left: 0;
  background: inherit;
  width: 5rem;
  height: 3rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 2rem;
}

.input:focus {
  background: inherit;
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#unit {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: var(--DarkBG);
    color: var(--DarkTXT);
  }

  .container {
    background: var(--darkBG);
    box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.2),
      2px 4px 4px hsl(220deg 60% 50% / 0.2),
      4px 8px 8px hsl(220deg 60% 50% / 0.2),
      8px 16px 16px hsl(220deg 60% 50% / 0.2);
  }

  .input {
    color: var(--DarkTXT);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background: var(--LightBG);
    color: var(--LightTXT);
  }

  .container {
    background: var(--lightBG);
    box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.5),
      2px 4px 4px hsl(220deg 60% 50% / 0.5),
      4px 8px 8px hsl(220deg 60% 50% / 0.5),
      8px 16px 16px hsl(220deg 60% 50% / 0.5);
  }

  .input {
    color: var(--LightTXT);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (max-device-width: 280px) and (-webkit-max-device-pixel-ratio: 4) {
  .data h2 {
    margin: 0.5rem;
  }

  button {
    top: 50%;
  }

  .unit-box {
    top: 35%;
  }

  .input {
    top: 35%;
  }
}
